@import '@/styles/vars';
@import '@/styles/mixins';
@import '@/styles/fonts';

.title {
   background: var(--contrast);
   padding: 6px 6px 18px;
   color: var(--black);
   font-size: 52px;
   border-radius: 14px;
   font-weight: 900;
}

.wrapper {
   max-width: 1000px;
   margin: 0 auto;
}
.mainPage {
   @include flex($direction: column);
   font-family: $font-corbert;
   &__intro {
      overflow: hidden;
      width: 100vw;
      height: 100vh;
      position: relative;
      // background:
      //    url('./assets/dark.png') no-repeat 100% 100%,
      //    url('./assets/bg.jpg') no-repeat center center;
      // background-size: cover;

      // padding: 200px;
      background-color: var(--black);
      @include flex($direction: column, $justify: end);
      gap: 70px;
      padding: 50px 0 100px;

      // &::after {
      //    display: block;
      //    position: absolute;
      //    content: '';
      //    bottom: 0;
      //    left: 50%;
      //    transform: translateX(-50%);
      //    background-color: rgb(230, 230, 230);
      //    height: 1px;
      //    width: 96%;
      // }

      &_slider {
         width: 100vw;
         cursor: grab;

         &:active {
            cursor: grabbing;
         }
      }

      &_slide {
         // border: 1px solid black;
         border: none;
         // background: rgb(242, 242, 242);

         min-height: 200px;
         border-radius: 14px;
         // padding-top: 60px;
         z-index: 10;
         width: 95% !important;
         // box-sizing: border-box;
         display: flex !important;
         flex-direction: column;
         align-items: start;
         justify-content: start;
         text-align: start;
         line-height: 140%;

         // min-width: 30%;
         // overflow: hidden;
         // border: 4px solid #292929;
         background-color: white;
         min-height: 300px;
         // background-color: #292929;
         color: var(--black);
         margin: 0 10px;
         & > h4 {
            width: 100%;
            // transform: translateX(-50%);
            padding: 15px 10px;
            // background-color: var(--white);
            // border-bottom-right-radius: 10px;
            // border-bottom-left-radius: 10px;
            // background: ;
            color: var(--black);

            border-bottom: 1px solid black;
            font-weight: 500;
            color: white;
            background-color: black;
            border: 2px solid white;
            font-size: 24px;
            border-radius: 14px;
            // margin-bottom: 10px;
            @include flex($justify: space-between);
            // text-shadow: 0 0 4px rgba(0, 0, 0, 0.592);
            & > img {
               // position: absolute;
               // top: 5px;
               // right: 5px;
               // transform: translate(-50%, -50%);
               width: 30px;
               // filter: invert(1);
               // z-index: -10;
               height: 30px;
               object-fit: contain;
               // opacity: 0.2;
               transition: 0.3s;
            }
         }

         & > p {
            padding: 10px 15px;
            font-size: 20px;
            line-height: 160%;
         }

         // &:hover {
         //    & > img {
         //       object-fit: cover;
         //       width: 140%;
         //    }
         // }
      }
      &_cards {
         gap: 40px;
         display: grid;
         width: 1000px;
         grid-template-columns: repeat(3, 1fr);
      }

      &_content {
         @include flex($align: center, $direction: column);
         gap: 55px;
      }
      &Btn {
         display: flex;

         // transition: 0.3s all ease-in-out;
         justify-content: center;
         align-items: center;
         // width: 260px;
         cursor: pointer;
         -webkit-user-select: none;
         -moz-user-select: none;
         user-select: none;
         outline: none;

         white-space: nowrap;
         font-weight: 800;
         font-size: 12px;
         line-height: 19px;
         gap: 10px;
         // background: var(--contrast);
         background: rgba(157, 255, 92, 1);
         background: -moz-linear-gradient(
            left,
            rgba(157, 255, 92, 1) 0%,
            rgba(97, 230, 208, 1) 100%
         );
         background: -webkit-gradient(
            left top,
            right top,
            color-stop(0%, rgba(157, 255, 92, 1)),
            color-stop(100%, rgba(97, 230, 208, 1))
         );
         background: -webkit-linear-gradient(
            left,
            rgba(157, 255, 92, 1) 0%,
            rgba(97, 230, 208, 1) 100%
         );
         background: -o-linear-gradient(
            left,
            rgba(157, 255, 92, 1) 0%,
            rgba(97, 230, 208, 1) 100%
         );
         background: -ms-linear-gradient(
            left,
            rgba(157, 255, 92, 1) 0%,
            rgba(97, 230, 208, 1) 100%
         );
         background: linear-gradient(
            to right,
            rgba(157, 255, 92, 1) 0%,
            rgba(97, 230, 208, 1) 100%
         );
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dff5c', endColorstr='#61e6d0', GradientType=1 );

         color: white;
         text-shadow: 0 0 3px rgba(0, 0, 0, 0.138);
         opacity: 0.9;
         border-radius: 999px;
         font-size: 20px;
         padding: 18px 25px;
         // border: 3px solid var(--white);
         // opacity: 0.7;
         border: none;
         &:hover {
            opacity: 0.8;
            // color: var(--contrast);
            // border-color: var(--contrast);
         }
      }

      &_bg {
         // position: fixed;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         // opacity: 0.2;
         z-index: -100;
         // top: 0;
         // left: 0;
         // opacity: 0.2;
         filter: opacity(0.25);
         // background: var(--black);

         &Container {
            z-index: -100;
            position: absolute;
            // top: -10%;
            // left: -10%;
            width: 110vw;
            height: 130vh;
         }
      }

      &_container {
         @include flex($direction: column, $justify: center);
         gap: 30px;
         min-height: 30%;
      }
   }

   &__title {
      color: var(--contrast);
      font-size: 100px;
      text-align: center;
      text-align: center;
      font-weight: 900;
      font-family: $font-corbert;

      // & > span {
      //    color: var(--black);
      //    text-shadow: 0 0 20px var(--contrast);
      // }
   }
   &__desc {
      color: var(--text-primary);
      font-size: 40px;
      text-align: center;
      font-weight: 600;
      line-height: 150%;
      padding: 0 5px;
      & > span {
         font-weight: 600;
      }

      .vmt {
         color: var(--contrast);
      }
   }

   &__benefits {
      width: 100vw;
      overflow: hidden;
      // height: 100vh;
      padding: 50px 0 60px;
      background: var(--black);
      display: flex;
      align-items: start;
      justify-content: center;

      &_slider {
         width: 100vw;
         cursor: grab;
         // display: grid;
         // overflow: hidden;
         // grid-template-columns: repeat(3, 1fr);
         &:active {
            cursor: grabbing;
         }
      }

      &_slide {
         // border: 1px solid black;
         border: none;
         // background: rgb(242, 242, 242);

         min-height: 200px;
         border-radius: 14px;
         // padding-top: 60px;
         z-index: 10;
         width: 95% !important;
         // box-sizing: border-box;
         display: flex !important;
         flex-direction: column;
         align-items: start;
         justify-content: start;
         text-align: start;
         line-height: 140%;

         // min-width: 30%;
         // overflow: hidden;
         // border: 4px solid #292929;
         background-color: white;
         min-height: 300px;
         // background-color: #292929;
         color: var(--black);
         margin: 0 10px;
         & > h4 {
            width: 100%;
            // transform: translateX(-50%);
            padding: 15px 10px;
            // background-color: var(--white);
            // border-bottom-right-radius: 10px;
            // border-bottom-left-radius: 10px;
            // background: ;
            color: var(--black);

            border-bottom: 1px solid black;
            font-weight: 500;
            color: white;
            background-color: black;
            border: 2px solid white;
            font-size: 24px;
            border-radius: 14px;
            // margin-bottom: 10px;
            @include flex($justify: space-between);
            // text-shadow: 0 0 4px rgba(0, 0, 0, 0.592);
            & > img {
               // position: absolute;
               // top: 5px;
               // right: 5px;
               // transform: translate(-50%, -50%);
               width: 30px;
               // filter: invert(1);
               // z-index: -10;
               height: 30px;
               object-fit: contain;
               // opacity: 0.2;
               transition: 0.3s;
            }
         }

         & > p {
            padding: 10px 15px;
            font-size: 20px;
            line-height: 160%;
         }

         // &:hover {
         //    & > img {
         //       object-fit: cover;
         //       width: 140%;
         //    }
         // }
      }
      &_cards {
         gap: 40px;
         display: grid;
         width: 1000px;
         grid-template-columns: repeat(3, 1fr);
      }

      &_content {
         @include flex($align: center, $direction: column);
         gap: 55px;
      }
   }
   &__about {
      width: 100vw;
      // height: 100vh;
      // min-height: 80vh;
      background: white;
      display: flex;
      align-items: start;
      justify-content: center;

      &_content {
         @include flex($align: stretch);
         // gap: 45px;
         position: relative;
         overflow: hidden;
         height: 100%;
      }

      &_title {
         color: var(--black);
         font-size: 52px;
         line-height: 100%;
         font-weight: 900;
         border-radius: 14px;
      }

      &_list {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         column-gap: 120px;
         row-gap: 90px;

         & > li {
            padding: 18px;
            font-weight: 700;
            font-size: 18px;
            border: 2px solid black;
            // border-radius: 0;
            // border-top: none;
            // border-bottom: none;
            border-radius: 14px;
            position: relative;
            @include flex($direction: row, $align: start, $justify: start);
            gap: 10px;
            background-color: white;
            .mainPage__about_number {
               padding: 4px;
               font-size: 18px;
               font-weight: 900;
               border-radius: 999px;
               color: var(--black);
               min-width: 34px;

               min-height: 34px;

               flex-grow: 1;

               @include flex($justify: center);
               // display: inline-flex;
               // float: left;
               background-color: var(--contrast);
               margin-right: 5px;
            }
            &:nth-child(1),
            &:nth-child(4) {
               background-color: var(--black);
               color: white;
               font-weight: 400;
               border-radius: 14px;
               border: none;

               // .mainPage__about_number {
               //    background-color: white;
               //    font-size: 18px;
               //    font-weight: 800;
               //    border-radius: 999px;
               //    color: var(--black);
               // }
            }

            // &:nth-child(1) {
            //    &::after {
            //       background: url('./assets/arrow.svg') top right no-repeat;
            //       background-size: contain;
            //       content: '';
            //       display: block;
            //       position: absolute;
            //       top: 50px;
            //       right: -122px;
            //       width: 123px;
            //       height: 200px;
            //       z-index: -1;

            //       @media screen and (max-width: 900px) {
            //          display: none;
            //       }
            //    }
            // }
            // &:nth-child(2) {
            //    &::after {
            //       background: url('./assets/arrow2.svg') bottom right no-repeat;
            //       background-size: contain;
            //       content: '';
            //       display: block;
            //       position: absolute;
            //       bottom: -92px;
            //       left: -440px;
            //       width: 540px;
            //       height: 90px;

            //       @media screen and (max-width: 900px) {
            //          display: none;
            //       }
            //    }
            // }
            // &:nth-child(3) {
            //    &::before {
            //       background: url('./assets/arrow3.svg') top right no-repeat;
            //       background-size: contain;
            //       content: '';
            //       display: block;
            //       position: absolute;
            //       bottom: -110px;
            //       right: -122px;
            //       width: 123px;
            //       height: 200px;
            //       z-index: -1;

            //       @media screen and (max-width: 900px) {
            //          display: none;
            //       }
            //    }
            // }

            & > p {
               line-height: 170%;
               & > span {
                  font-weight: 900;
                  // color: var(--contrast);
               }
            }
         }
      }

      &_desc {
         @include flex($direction: column);
         gap: 20px;
      }

      &_slider {
         max-width: 100%;
      }

      &_slide {
         display: flex !important;
         @include flex($direction: column);
         gap: 20px;
      }
      .left {
         padding: 30px 50px;
         @include flex($direction: column, $align: start, $justify: start);
         height: 100%;
         gap: 40px;
         padding: 40px 40px 80px;
         line-height: 140%;
         width: 100%;
         z-index: 100;
      }

      // .right {
      //    width: 55%;
      //    position: relative;
      //    height: 200%;
      //    overflow: hidden;
      //    background: var(--black);

      //    & > img {
      //       opacity: 0.5;
      //       filter: blur(1px);
      //       position: absolute;
      //       top: 0;
      //       right: -100px;
      //       object-fit: cover;
      //       min-width: 100vw !important;
      //       min-height: 150vh !important;
      //    }
      //    // z-index: -1;
      // }
   }
   &__download {
      width: 100vw;
      // height: 100vh;
      padding: 50px 0;
      background: var(--black);
      display: flex;
      align-items: start;
      justify-content: center;
      &_desc {
         font-size: 20px;
         font-weight: 400;
         color: var(--text-tertiary);
         list-style: decimal;
         // @include flex($direction: row, $align: center);
         display: grid;
         grid-template-columns: repeat(4, 1fr);
         // gap: 40px;
         line-height: 150%;
         list-style: none;

         & > li {
            @include flex($direction: column, $justify: center, $align: center);

            gap: 30px;
            padding: 40px;
            border-radius: 20px;
            transition: 0.3s;
            cursor: pointer;

            &:hover {
               background-color: #292929;
            }
            & > img {
               width: 80px;
               height: 80px;
            }

            & > p {
               font-size: 26px;
               font-weight: 700;
               color: white;
               @include flex($direction: column, $justify: center);
               gap: 4px;
               width: 100%;
               text-align: center;
               & > span {
                  font-size: 12px;
                  font-weight: 700;
                  line-height: 100%;
                  opacity: 0.7;
                  color: var(--contrast);
               }
            }
         }
         // &:last-child {
         //    list-style: disc;
         // }
      }

      &_content {
         @include flex($justify: center, $direction: column);
         gap: 45px;

         & > span {
            font-size: 24px;
            color: var(--text-primary);
            font-weight: 600;
         }

         p {
            align-self: flex-start;
            font-weight: 600;
            font-size: 20px;
            color: var(--text-primary);
            line-height: 150%;
         }
      }
   }

   &__feedback {
      width: 100vw;
      // height: 100vh;
      // min-height: 80vh;
      background: white;
      display: flex;
      align-items: start;
      justify-content: center;

      &_content {
         @include flex($align: stretch);
         // gap: 45px;
         position: relative;
         overflow: hidden;
         height: 100%;
      }

      &_title {
         color: var(--black);
         font-size: 52px;
         line-height: 100%;
         font-weight: 900;
         padding-left: 40px;

         border-radius: 14px;
      }

      &_slider {
         width: 99vw;
      }

      &_slide {
         display: flex !important;
         @include flex($direction: column);
         gap: 20px;

         min-height: 200px;
         border-radius: 14px;
         // padding-top: 60px;
         z-index: 10;
         width: 95% !important;
         // box-sizing: border-box;
         display: flex !important;
         flex-direction: column;
         align-items: stretch;
         justify-content: start;
         text-align: start;
         line-height: 140%;
         background-color: white;
         min-height: 300px;
         margin: 15px 0;
         color: var(--black);
         box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.368);
         &Header {
            @include flex($justify: start);
            gap: 20px;
            padding: 15px 10px;
            border-radius: 14px;
            // border-bottom: 1px solid black;
            position: relative;
            width: 100%;

            &::after {
               display: block;
               position: absolute;
               content: '';
               bottom: 0;
               left: 50%;
               transform: translateX(-50%);
               background-color: rgb(75, 75, 75);
               height: 1px;
               width: 96%;
            }

            & > img {
               min-width: 50px;
               min-height: 50px;
               border-radius: 999px;
               background-color: gray;
            }

            & > h4 {
               font-size: 24px;
            }
         }
         & > h4 {
            width: 100%;
            color: var(--black);

            font-weight: 500;
            color: white;

            font-size: 24px;

            @include flex($justify: space-between);
            & > img {
               width: 30px;

               height: 30px;
               object-fit: contain;
               transition: 0.3s;
            }
         }

         & > p {
            padding: 10px 15px;
            font-size: 20px;
            line-height: 160%;
         }
      }
      .left {
         @include flex($direction: column, $align: start, $justify: start);
         height: 100%;
         gap: 40px;
         padding: 40px 0 80px;
         line-height: 140%;
         width: 100%;
         z-index: 100;
      }

      // .right {
      //    width: 55%;
      //    position: relative;
      //    height: 200%;
      //    overflow: hidden;
      //    background: var(--black);

      //    & > img {
      //       opacity: 0.5;
      //       filter: blur(1px);
      //       position: absolute;
      //       top: 0;
      //       right: -100px;
      //       object-fit: cover;
      //       min-width: 100vw !important;
      //       min-height: 150vh !important;
      //    }
      //    // z-index: -1;
      // }
   }

   &__contacts {
      width: 100vw;
      @include flex($align: stretch);
      height: 960px;

      &_content,
      &_img {
         width: 50%;
      }

      &_content {
         background: #292929;
         @include flex($direction: column, $align: start, $justify: center);
         gap: 40px;
         padding-left: 130px;
         color: white;

         & > h4 {
            font-size: 52px;
            font-weight: 700;
         }
      }

      &_list {
         @include flex($direction: column, $align: start);
         gap: 25px;
         font-size: 20px;
         font-weight: 400;
      }

      &_social {
         @include flex($direction: column, $align: start);
         gap: 25px;
         & > h5 {
            font-size: 20px;
            font-weight: 300;
            text-transform: uppercase;
         }

         &List {
            @include flex();
            gap: 10px;

            & > li {
               opacity: 0.8;
               transition: 0.3s;
               &:hover {
                  opacity: 1;
               }
            }
         }
      }
   }

   &__form {
      padding: 80px 10px 100px 10px;
      &_content {
         @include flex($direction: column);
         gap: 30px;
      }

      &_desc {
         font-size: 20px;
         color: var(--text-tertiary);
         font-weight: 400;
         text-align: center;
         line-height: 150%;
         & > span {
            font-weight: 600;
            color: var(--text-primary);
         }
      }
   }
}

@media screen and (max-width: 1050px) {
   .mainPage {
      &__benefits {
         &_slide {
            & > p {
               font-size: 14px;
            }
         }
      }
   }
}

@media (max-width: 900px) {
   .title {
      background: var(--contrast);
      padding: 6px 6px 12px;
      color: var(--black);
      font-size: 38px;

      font-weight: 900;
   }

   .mainPage {
      &__intro {
         background-size: cover;
         // padding: 200px 20px 50px 20px;
         height: auto;
         height: 100vh;
      }

      &__title {
         font-size: 72px;
         // font-weight: 600;
      }
      &__desc {
         font-size: 30px;
      }

      &__benefits {
         padding: 30px 0 45px;

         &_content {
            gap: 40px;
         }
         &_slider {
            width: 99vw;
         }
         &_slide {
            & > p {
               font-size: 14px;
            }
         }
      }
      &__about {
         min-height: auto;
         padding: 0;

         &_title {
            font-size: 38px;
            align-self: center;
            background: black;
            padding: 6px 6px 12px;
            display: block;
            color: white;
            font-weight: 800;
            line-height: 100%;
         }
         .right {
            display: none;
         }

         .left {
            width: 100%;
            gap: 30px;
            padding: 30px 30px 45px;
         }

         &_list {
            grid-template-columns: repeat(1, 1fr);
            gap: 40px;

            & > li {
               border: none;
               background: white !important;
               color: var(--black) !important;
               font-weight: 700 !important;
               padding: 0 !important;
               // &:nth-child(2),
               // &:nth-child(3) {
               //    background-color: var(--black);
               //    color: white;
               //    font-weight: 400;
               //    border-radius: 14px;
               //    border: none;

               //    // .mainPage__about_number {
               //    //    background-color: white;
               //    //    font-size: 18px;
               //    //    font-weight: 800;
               //    //    border-radius: 999px;
               //    //    color: var(--black);
               //    // }
               // }
            }
         }
      }

      &__download {
         // height: 100vh;
         padding: 30px 0;

         &_desc {
            font-size: 20px;
            font-weight: 400;
            color: var(--text-tertiary);
            list-style: decimal;
            // @include flex($direction: row, $align: center);
            display: grid;
            // grid-template-columns: repeat(2, 1fr);
            // gap: 40px;
            line-height: 150%;
            list-style: none;

            & > li {
               @include flex(
                  $direction: column,
                  $justify: center,
                  $align: center
               );

               gap: 20px;
               padding: 30px;
               border-radius: 20px;
               transition: 0.3s;
               cursor: pointer;

               & > img {
                  width: 70px;
                  height: 70px;
               }

               & > p {
                  font-size: 20px;
                  font-weight: 700;
                  color: white;
                  @include flex($direction: column, $justify: center);
                  gap: 4px;
                  width: 100%;
                  text-align: center;
                  & > span {
                     font-size: 12px;
                     font-weight: 700;
                     line-height: 100%;
                     opacity: 0.7;
                     color: var(--contrast);
                  }
               }
            }
            // &:last-child {
            //    list-style: disc;
            // }
         }

         &_content {
            @include flex($justify: center, $direction: column);
            gap: 10px;

            & > span {
               font-size: 24px;
               color: var(--text-primary);
               font-weight: 600;
            }

            p {
               align-self: flex-start;
               font-weight: 600;
               font-size: 20px;
               color: var(--text-primary);
               line-height: 150%;
            }
         }
      }

      &__feedback {
         .left {
            width: 100%;
            gap: 30px;
            padding: 30px 0 45px;
         }

         &_content {
            align-items: center;
         }
         &_title {
            font-size: 38px;
            align-self: center;
            background: black;
            padding: 6px 6px 12px;
            display: block;
            color: white;
            font-weight: 800;
            line-height: 100%;
         }
      }
   }
}
@media (max-width: 700px) {
   .mainPage {
      &__intro {
      }

      &__desc {
         font-size: 25px;
      }

      &__download {
         // height: 100vh;
         padding: 30px 0;

         &_desc {
            font-size: 20px;
            font-weight: 400;
            color: var(--text-tertiary);
            list-style: decimal;
            // @include flex($direction: row, $align: center);
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            // gap: 40px;
            line-height: 150%;
            list-style: none;

            & > li {
               @include flex(
                  $direction: column,
                  $justify: center,
                  $align: center
               );

               gap: 20px;
               padding: 30px;
               border-radius: 20px;
               transition: 0.3s;
               cursor: pointer;

               & > img {
                  width: 60px;
                  height: 60px;
               }

               & > p {
                  font-size: 20px;
                  font-weight: 700;
                  color: white;
                  @include flex($direction: column, $justify: center);
                  gap: 4px;
                  width: 100%;
                  text-align: center;
                  & > span {
                     font-size: 12px;
                     font-weight: 700;
                     line-height: 100%;
                     opacity: 0.7;
                     color: var(--contrast);
                  }
               }
            }
            // &:last-child {
            //    list-style: disc;
            // }
         }

         &_content {
            @include flex($justify: center, $direction: column);
            gap: 10px;

            & > span {
               font-size: 24px;
               color: var(--text-primary);
               font-weight: 600;
            }

            p {
               align-self: flex-start;
               font-weight: 600;
               font-size: 20px;
               color: var(--text-primary);
               line-height: 150%;
            }
         }
      }
   }
   .container {
      margin-right: 0;
      padding: 10px;
   }
}

@media (max-width: 500px) {
   .title {
      background: var(--contrast);
      color: var(--black);
      font-size: 28px;

      font-weight: 900;
   }
   .mainPage {
      &__title {
         font-size: 52px;
      }

      &__desc {
         font-size: 20px;
         gap: 20px;
      }

      &__introBtn {
         font-size: 16px;
         padding: 12px;
      }

      &__intro {
         padding: 50px 0;
         &_slide {
            min-height: 200px !important;
         }
      }

      &__benefits {
         padding: 20px 0 35px;

         &_content {
            gap: 30px;
         }

         &_slide {
            min-height: 200px;
            & > h4 {
               font-size: 18px;
               padding: 10px;
            }
            & > p {
               font-size: 12px;
               padding: 5px 8px;
            }
         }
      }

      &__about {
         min-height: auto;
         padding: 0;

         & p {
            font-size: 14px;
         }
         &_title {
            font-size: 28px;
         }
         .right {
            display: none;
         }

         .left {
            width: 100%;
            gap: 20px;
            padding: 20px 20px 35px;
         }
      }

      &__feedback {
         &_title {
            font-size: 28px;
         }

         &_slider {
            & h4 {
               font-size: 18px;
               font-weight: 500;
            }

            & img {
               min-width: 35px;
               min-height: 35px;
            }
         }

         &_slide {
            gap: 0;
            min-height: 200px;
            & p {
               font-size: 12px;
            }
            margin: 10px;

            &Header {
               padding: 10px;
            }
         }

         .left {
            gap: 20px;
         }
      }

      &__download {
         // height: 100vh;
         padding: 20px 0;

         &_desc {
            font-size: 20px;
            font-weight: 400;
            color: var(--text-tertiary);
            list-style: decimal;
            // @include flex($direction: row, $align: center);
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            // gap: 40px;
            line-height: 150%;
            list-style: none;
            width: 95vw;
            & > li {
               @include flex(
                  $direction: column,
                  $justify: center,
                  $align: center
               );

               gap: 10px;
               padding: 13px;
               border-radius: 20px;
               transition: 0.3s;
               cursor: pointer;

               & > img {
                  width: 50px;
                  height: 50px;
               }

               & > p {
                  font-size: 15px;
                  font-weight: 700;
                  color: white;
                  @include flex($direction: column, $justify: center);
                  gap: 4px;
                  width: 100%;
                  text-align: center;
                  & > span {
                     font-size: 10px;
                     font-weight: 700;
                     line-height: 100%;
                     opacity: 0.7;
                     color: var(--contrast);
                  }
               }
            }
            // &:last-child {
            //    list-style: disc;
            // }
         }

         &_content {
            @include flex($justify: center, $direction: column);
            gap: 20px;

            & > span {
               font-size: 24px;
               color: var(--text-primary);
               font-weight: 600;
            }

            p {
               align-self: flex-start;
               font-weight: 600;
               font-size: 20px;
               color: var(--text-primary);
               line-height: 150%;
            }
         }
      }
   }

   .container {
      margin-right: 0;
      padding-bottom: 40px;
   }
}

@media (max-width: 300px) {
   .mainPage {
      &__intro {
      }

      &__title {
         font-size: 38px;
         // font-weight: 600;
      }

      &__desc {
         font-size: 15px;
         gap: 20px;
      }
   }
   .container {
      margin-right: 0;
      padding-bottom: 40px;
   }
}
