@import '@/styles/vars';
@import '@/styles/mixins';
@import '@/styles/fonts';

.page {
   font-family: $font-poppins;
   display: flex;
   flex-direction: column;
}

.wrapper {
   max-width: 1670px;
   margin: 0 auto;
   padding: 0 20px;
}

.title {
   background: white;
   padding: 11px 37px;
   color: var(--black);
   font-size: 70px;
   border-radius: 12px;
   font-weight: 600;
   text-transform: uppercase;

   @include for-big-desktop {
      font-size: 60px;
   }
   @include for-desktop {
      font-size: 50px;
   }
   @include for-tablet {
      font-size: 40px;
   }
   @include for-phone {
      font-size: 30px;
   }
   @include for-small-phone {
      font-size: 20px;
   }
}

.intro {
   overflow: hidden;
   width: 100vw;
   position: relative;

   background: var(--bg-primary);
   padding-top: 180px;

   &__title {
      filter: drop-shadow(8px 8px 0 black);
      height: auto;
      .letter {
         fill: var(--white);
      }
   }
   &__content {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      justify-content: space-between;
      gap: 40px;

      &_main {
         display: flex;
         align-items: start;
         justify-content: space-between;
      }

      &_left {
         display: flex;
         align-items: start;
         flex-direction: column;
         justify-content: start;
         gap: 40px;
      }

      &_dignities {
         display: flex;
         margin-bottom: 40px;
         gap: 30px;
         column-gap: 50px;
         flex-wrap: wrap;
         align-items: center;
         justify-content: center;
         width: 100%;
      }

      &_dignity {
         border-radius: 12px;
         color: white;
         padding: 15px;
         font-size: 24px;
         font-weight: 400;
         display: flex;
         text-transform: uppercase;
         align-items: center;
         justify-content: center;
         text-align: center;
         width: 30%;
         // text-decoration: underline;
         // border-bottom: 3px solid rgba(255, 255, 255, 0.201);
         // border-top: 3px solid rgba(255, 255, 255, 0.268);

         // border-radius: 0;
         background-color: #323232;
         box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.308);
         &:nth-child(1) {
            grid-area: 1 / 1 / 2 / 3;
         }
         &:nth-child(2) {
            grid-area: 1 / 5 / 2 / 7;
         }
         &:nth-child(3) {
            grid-area: 2 / 2 / 3 / 4;
         }
         &:nth-child(4) {
            grid-area: 2 / 4 / 3 / 6;
         }
         &:nth-child(5) {
            grid-area: 3 / 3 / 4 / 5;
         }
      }
   }

   &__btn {
      border-radius: 12px;
      color: var(--black);
      text-transform: uppercase;
      padding: 30px 104px;
      font-size: 32px;
      font-weight: 600;
      border: none;
      background: linear-gradient(
         90deg,
         rgba(204, 227, 64, 1) 44%,
         rgba(158, 249, 135, 1) 100%
      );
      transition: 0.3s;
      &:hover {
         box-shadow: 0 0 20px 0 rgba(158, 249, 135, 0.7);
      }
   }

   &__slogan {
      color: var(--text-primary);
      font-size: 34px;
      text-align: start;
      font-weight: 200;
      line-height: 150%;
      padding: 0 5px;
      width: 400px;
      & span {
         font-weight: 300;
         color: var(--contrast);
      }
   }

   &__feedbacks {
      width: 100vw;
      cursor: grab;

      padding: 40px 0;
      border-top: 1px solid #444444;
      border-bottom: 1px solid #444444;
      &:active {
         cursor: grabbing;
      }
   }

   &__slide {
      border-radius: 12px;
      z-index: 10;
      width: 96% !important;
      display: flex !important;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      text-align: start;
      border: 1px solid transparent;
      line-height: 140%;
      background-color: #242424;
      &:active {
         cursor: grabbing;
      }
      color: var(--black);
      margin: 0 10px;
      opacity: 0.7;
      transition: 0.1s;
      height: 300px;
      &:hover {
         opacity: 0.9;
         border: 1px solid rgb(142, 141, 141);
      }

      &Header {
         display: flex;
         align-items: center;
         padding: 10px 22px;
         gap: 15px;
         border-bottom: 1px solid #444444;
         width: 100%;
         & > h4 {
            color: white;

            font-size: 25px;
            font-weight: 200;
         }

         & > img {
            width: 30px;
            height: 30px;
            object-fit: cover;
            transition: 0.3s;
            // border: 1px solid #7c7c7c;
            border: none;
            background-color: var(--bg-primary);
            width: 60px;
            height: 60px;
            border-radius: 999px;
         }
      }

      &Main {
         padding: 10px 20px;
         width: 100%;
         height: 100%;
         display: flex;
         flex-direction: column;
         align-items: end;
         justify-content: space-between;
         & > p {
            font-size: 20px;
            line-height: 160%;
            color: #cfcfcf;
            font-weight: 300;
         }

         & > span {
            margin-top: auto;
            margin-left: auto;
            color: #727272;
         }
      }
   }

   @include for-big-desktop {
      padding-top: 160px;
      &__slogan {
         font-size: 30px;
      }

      &__title {
         width: 300px;
      }

      &__content {
         &_left {
            gap: 35px;
         }

         &_dignity {
            font-size: 20px;
         }
      }

      &__btn {
         font-size: 28px;
         padding: 25px 90px;
      }

      &__feedbacks {
         padding: 35px 0;
      }
      &__slide {
         &Header {
            & > h4 {
               font-size: 22px;
            }

            & > img {
               width: 58px;
               height: 58px;
            }
         }

         &Main {
            & > p {
               font-size: 18px;
            }
         }
      }
   }
   @include for-desktop {
      padding-top: 140px;
      &__slogan {
         font-size: 26px;
      }

      &__title {
         width: 270px;
      }

      &__content {
         &_left {
            gap: 30px;
         }

         &_dignities {
            gap: 25px;
         }

         &_dignity {
            font-size: 16px;
         }
      }

      &__btn {
         font-size: 26px;
         padding: 22px 80px;
      }

      &__feedbacks {
         padding: 30px 0;
      }

      &__slide {
         height: 280px;
         &Header {
            & > h4 {
               font-size: 21px;
            }

            & > img {
               width: 54px;
               height: 54px;
            }
         }

         &Main {
            padding: 10px 20px;

            & > span {
            }
         }
      }
   }
   @include for-tablet {
      padding-top: 120px;
      &__slogan {
         font-size: 26px;
      }

      &__title {
         width: 230px;
      }

      &__content {
         &_left {
            gap: 25px;
         }

         &_dignity {
            font-size: 12px;
         }
      }

      &__btn {
         font-size: 24px;
         padding: 20px 70px;
      }

      &__feedbacks {
         padding: 25px 0;
      }

      &__slide {
         height: 270px;
         &Header {
            & > img {
               width: 50px;
               height: 50px;
            }
         }

         &Main {
            & > p {
               font-size: 16px;
            }
         }
      }
   }
   @include for-phone {
      padding-top: 120px;
      &__slogan {
         font-size: 22px;
         width: 80%;
         text-align: center;
      }

      &__title {
         width: 200px;
      }

      &__content {
         &_main {
            flex-direction: column;
            align-items: stretch;
            gap: 40px;
         }
         &_left {
            align-items: center;
            width: 100%;
            text-align: center;
            gap: 20px;
         }

         &_dignities {
            gap: 20px;
            flex-direction: column;
         }

         &_dignity {
            width: 100%;
            font-size: 16px;
            border: none;
         }
      }

      &__btn {
         font-size: 22px;
         padding: 20px;
         width: 100%;
      }

      &__feedbacks {
         padding: 20px 0;
      }

      &__slide {
         height: 250px;
         &Header {
            & > h4 {
               font-size: 22px;
            }

            & > img {
               width: 46px;
               height: 46px;
            }
         }

         &Main {
            & > p {
               font-size: 18px;
            }
         }
      }
   }
   @include for-small-phone {
      padding-top: 100px;
      &__slogan {
         font-size: 18px;
      }

      &__title {
         width: 170px;
      }

      &__content {
         &_left {
            gap: 15px;
         }

         &_dignity {
            font-size: 14px;
         }
      }

      &__btn {
         font-size: 20px;
      }

      &__feedbacks {
         padding: 15px 0;
      }

      &__slide {
         height: 230px;
         &Header {
            & > h4 {
               font-size: 16px;
            }

            & > img {
               width: 40px;
               height: 40px;
            }
         }
      }
   }
}

.about {
   width: 100vw;
   padding: 70px 0 130px;
   border-bottom: 1px solid #444444;
   background-color: var(--bg-primary);
   &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 130px;
   }

   &__list {
      display: flex;
      align-items: stretch;
      gap: 80px;
   }

   &__sublist {
      display: flex;
      flex-direction: column;
      gap: 55px;
      align-items: start;
      padding: 25px 35px;
      background-color: #2f2f2f;
      border-left: 4px solid white;
      position: relative;
      z-index: 20;
      max-width: 740px;
      & li {
         color: white;
         font-size: 26px;
         font-weight: 300;
         line-height: 170%;
      }

      .counter {
         display: flex;

         min-width: 105px;
         min-height: 73px;
         background: url('./assets/Frame.svg') no-repeat center top;
         background-size: contain;
         z-index: 10;
         align-items: center;
         justify-content: center;
         font-size: 30px;
         font-weight: 500;
         position: absolute;
         top: -52px;
         left: -3px;
      }
   }

   @include for-big-desktop {
      padding: 60px 0 110px;
      &__content {
         gap: 110px;
      }
      &__list {
         gap: 60px;
      }

      &__sublist {
         padding: 23px 33px;
         gap: 45px;
         & li {
            font-size: 24px;
         }
      }
   }

   @include for-desktop {
      padding: 50px 0 90px;
      &__content {
         gap: 90px;
      }

      &__list {
         gap: 50px;
      }

      &__sublist {
         padding: 20px 30px;
         gap: 35px;
         & li {
            font-size: 22px;
         }
      }
   }

   @include for-tablet {
      padding: 40px 0 50px;
      &__content {
         gap: 50px;
      }
      &__list {
         gap: 40px;
         flex-direction: column;
      }

      &__sublist {
         padding: 18px 28px;
         gap: 30px;
         & li {
            font-size: 20px;
         }
      }

      .counter {
         display: none;
      }
   }

   @include for-phone {
      padding: 30px 0 30px;
      &__content {
         gap: 30px;
      }
      &__list {
         gap: 30px;
      }

      &__sublist {
         padding: 15px 20px;
         gap: 20px;
         & li {
            font-size: 18px;
            font-weight: 200;
         }
      }
   }
   @include for-small-phone {
      padding: 20px 0 20px;
      &__content {
         gap: 20px;
      }
      &__list {
         gap: 20px;
      }

      &__sublist {
         padding: 10px 15px;
         gap: 15px;
         & li {
            font-size: 14px;
         }
      }
   }
}
.benefits {
   width: 100vw;
   overflow: hidden;
   padding: 70px 0 130px;
   background: var(--bg-primary);
   border-bottom: 1px solid #444444;

   &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 130px;
   }

   &__list {
      display: grid;

      grid-template-columns: repeat(3, 1fr);
      row-gap: 50px;
      column-gap: 70px;

      & > li {
         color: white;
         border: 3px solid rgba(255, 255, 255, 0.518);
         padding: 13px 28px;
         display: flex;
         flex-direction: column;
         gap: 29px;

         & h4 {
            position: relative;
            width: 100%;
            font-size: 32px;
            font-weight: 400;
            text-transform: uppercase;
         }

         & p {
            font-size: 24px;
            font-weight: 200;
            line-height: 170%;
         }
      }
   }

   &__slider {
      width: 100vw;
      cursor: grab;
   }

   &__slide {
      border-radius: 12px;
      z-index: 10;
      width: 96% !important;
      display: flex !important;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      text-align: start;
      border: 1px solid transparent;
      line-height: 140%;
      background-color: #242424;
      &:active {
         cursor: grabbing;
      }
      color: var(--black);
      margin: 0 10px;
      opacity: 0.7;
      transition: 0.1s;
      height: 300px;
      &:hover {
         opacity: 0.9;
         border: 1px solid rgb(142, 141, 141);
      }

      & h4 {
         padding: 15px 10px;
         color: white;
         font-size: 28px;
         text-align: center;
         font-weight: 300;
         width: 100%;
         border-bottom: 1px solid #323232;
      }

      p {
         padding: 15px 10px;
         color: white;
         font-size: 20px;
         font-weight: 200;
         line-height: 150%;
         text-align: center;
      }
   }

   &__left {
      border-left: 11px solid rgba(255, 255, 255, 0.351) !important;
      border-right: none !important;
      align-items: start;

      & h4 {
         &::after {
            content: '';
            display: block;
            height: 1px;
            width: 90%;
            background-color: white;
            position: absolute;

            bottom: -14px;
            left: 0;
            // left: 50%;
            // transform: translateX(-50%);
         }
      }
   }

   &__center {
      border-left: none !important;
      border-right: none !important;
      align-items: center;

      & h4 {
         text-align: center;
         &::after {
            content: '';
            display: block;
            height: 1px;
            width: 90%;
            background-color: white;
            position: absolute;

            bottom: -14px;
            left: 50%;
            transform: translateX(-50%);
         }
      }

      & p {
         text-align: center;
      }
   }

   &__right {
      border-left: none !important;
      border-right: 11px solid rgba(255, 255, 255, 0.375) !important ;
      align-items: center;

      & h4 {
         text-align: right;
         &::after {
            content: '';
            display: block;
            height: 1px;
            width: 90%;
            background-color: white;
            position: absolute;

            bottom: -14px;
            right: 0;
         }
      }

      & p {
         text-align: right;
      }
   }

   @include for-big-desktop {
      padding: 60px 0 110px;

      &__content {
         gap: 110px;
      }
      &__list {
         row-gap: 45px;
         column-gap: 60px;
         & > li {
            & h4 {
               font-size: 30px;
            }
         }
      }
   }
   @include for-desktop {
      padding: 50px 0 90px;

      &__content {
         gap: 90px;
      }
      &__list {
         row-gap: 40px;
         column-gap: 50px;
         grid-template-columns: repeat(2, 1fr);
         & > li {
            & h4 {
               font-size: 28px;
            }
         }
      }

      &__slide {
         height: 280px;
      }
   }
   @include for-tablet {
      padding: 40px 0 50px;
      &__content {
         gap: 50px;
      }
      &__list {
         row-gap: 35px;
         column-gap: 45px;
         & > li {
            & h4 {
               font-size: 26px;
            }

            & p {
               font-size: 22px;
            }
         }
      }

      &__slide {
         height: 270px;
      }
   }
   @include for-phone {
      padding: 30px 0 30px;

      &__content {
         gap: 30px;
      }
      &__list {
         row-gap: 25px;
         column-gap: 30px;
         grid-template-columns: repeat(1, 1fr);
         & > li {
            & h4 {
               font-size: 24px;
            }

            & p {
               font-size: 18px;
            }
         }
      }

      &__slide {
         height: 250px;
      }
   }
   @include for-small-phone {
      padding: 20px 0 20px;
      &__content {
         gap: 20px;
      }
      &__list {
         & > li {
            & h4 {
               font-size: 22px;
            }
         }
      }

      &__slide {
         height: 230px;
      }
   }
}

.download {
   width: 100vw;
   padding: 50px 0;
   background: var(--bg-primary);

   &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 90px;
   }

   &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 45px;
   }

   &__desc {
      color: white;
      text-align: center;
      font-size: 30px;
      font-weight: 200;
      line-height: 150%;
      max-width: 900px;
   }

   &__list {
      display: flex;
      align-items: center;
      gap: 50px;
      flex-wrap: wrap;
      justify-content: center;
      & li {
         display: flex;
         align-items: center;
         flex-direction: column;
         padding: 20px;
         gap: 15px;
         background-color: #212121;
         border-radius: 12px;
         opacity: 0.7;
         transition: 0.1s;
         cursor: pointer;
         img {
            width: 140px;
            height: 140px;
         }

         h4 {
            color: white;
            font-weight: 200;
            font-size: 35px;
            text-align: center;
         }

         button {
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            color: black;
            text-transform: uppercase;
            font-weight: 400;
            padding: 16px 90px;
            border: none;
            font-size: 20px;
            border-radius: 12px;
            margin-top: 35px;
            opacity: 0.7;
            transition: 0.1s;
            &:hover {
               opacity: 1;
            }
         }

         &:hover {
            opacity: 1;
            button {
               background: linear-gradient(
                  90deg,
                  rgba(204, 227, 64, 1) 44%,
                  rgba(158, 249, 135, 1) 100%
               );
            }
         }
      }
   }

   @include for-big-desktop {
      &__info {
         gap: 40px;
      }
      &__desc {
         font-size: 28px;
      }
      &__content {
         gap: 80px;
      }
   }

   @include for-desktop {
      &__info {
         gap: 35px;
      }
      &__desc {
         font-size: 26px;
      }
      &__content {
         gap: 70px;
      }
      &__list {
         gap: 40px;
         & li {
            img {
               width: 120px;
               height: 120px;
            }
            h4 {
               font-size: 32px;
            }
            button {
            }
         }
      }
   }

   @include for-tablet {
      &__info {
         gap: 30px;
      }
      &__desc {
         font-size: 24px;
      }
      &__content {
         gap: 60px;
      }
      &__list {
         gap: 30px;
         & li {
            img {
               width: 100px;
               height: 100px;
            }
            h4 {
               font-size: 26px;
            }
            button {
               margin-top: 10px;
            }
         }
      }
   }

   @include for-phone {
      &__info {
         gap: 20px;
      }
      &__desc {
         font-size: 20px;
      }
      &__content {
         gap: 50px;
      }
      &__list {
         gap: 20px;
         & li {
            img {
               width: 80px;
               height: 80px;
            }
            h4 {
               font-size: 22px;
            }
            button {
               margin-top: 0;
               font-size: 16px;
            }
         }
      }
   }
   @include for-small-phone {
      &__info {
         gap: 15px;
      }
      &__desc {
         font-size: 16px;
      }
      &__content {
         gap: 40px;
      }
      &__list {
         gap: 10px;
         & li {
            img {
               width: 60px;
               height: 60px;
            }
            h4 {
               font-size: 18px;
            }
            button {
               font-size: 14px;
            }
         }
      }
   }
}

@media screen and (max-width: 1700px) {
   .page {
   }

   .wrapper {
   }

   .title {
   }

   .logo {
      .letter {
      }
   }

   .intro {
      &__content {
         &_main {
         }

         &_left {
         }

         &_dignities {
         }

         &_dignity {
            &:nth-child(1) {
               grid-area: 1 / 1 / 2 / 3;
            }
            &:nth-child(2) {
               grid-area: 1 / 5 / 2 / 7;
            }
            &:nth-child(3) {
               grid-area: 2 / 2 / 3 / 4;
            }
            &:nth-child(4) {
               grid-area: 2 / 4 / 3 / 6;
            }
            &:nth-child(5) {
               grid-area: 3 / 3 / 4 / 5;
            }
         }
      }

      &__btn {
         &:hover {
         }
      }

      &__slogan {
         & span {
         }
      }

      &__feedbacks {
         &:active {
         }
      }

      &__slide {
         &:active {
         }

         &:hover {
         }

         &Header {
            & > h4 {
            }

            & > img {
            }
         }

         &Main {
            & > p {
            }

            & > span {
            }
         }
      }
   }

   .about {
      &__content {
      }

      &__list {
      }

      &__sublist {
         & li {
         }

         .counter {
         }
      }
   }
   .benefits {
      &__content {
      }

      &__list {
         & > li {
            & h4 {
            }

            & p {
            }
         }
      }

      &__left {
         & h4 {
            &::after {
            }
         }
      }

      &__center {
         & h4 {
            &::after {
            }
         }

         & p {
         }
      }

      &__right {
         & h4 {
            &::after {
            }
         }

         & p {
         }
      }
   }

   .download {
      &__content {
      }

      &__info {
      }

      &__desc {
      }

      &__list {
         & li {
            img {
            }

            h4 {
            }

            button {
               &:hover {
               }
            }

            &:hover {
               button {
               }
            }
         }
      }
   }
}
