@import '@/styles/vars';
@import '@/styles/mixins';
@import '@/styles/fonts';

.page {
   font-family: $font-poppins;
   background-color: #3a3a3a;
   min-width: 100vw;
   // min-height: 100vh;
}

.wrapper {
   max-width: 1320px;
   margin: 0 auto;
   padding: 0 20px;
}

.pageContent {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   min-width: 100%;
   margin-top: 130px;
   margin-bottom: 90px;
}

.form,
.mockup {
   display: flex;
   flex-direction: column;
}

.mockup {
   justify-content: center;
   align-items: center;
   &__image {
      width: 60%;
      object-fit: contain;
   }
}

.form {
   justify-content: start;
   align-items: start;
   width: auto;
   &__container {
      width: 100%;
   }
}

.titles {
   margin-bottom: 30px;
   border-bottom: 3px solid #444444;
   padding-bottom: 20px;
   width: auto;
}

.title {
   font-size: 50px;
   font-weight: 500;
   color: var(--white);
   line-height: 150%;
}

.subtitle {
   color: #d1d1d1;
   font-size: 26px;
   font-weight: 200;
   line-height: 150%;
}
// .title {
//    background: white;
//    padding: 11px 37px;
//    color: var(--black);
//    font-size: 70px;
//    border-radius: 12px;
//    font-weight: 600;
//    text-transform: uppercase;

//    @include for-big-desktop {
//       font-size: 60px;
//    }
//    @include for-desktop {
//       font-size: 50px;
//    }
//    @include for-tablet {
//       font-size: 40px;
//    }
//    @include for-phone {
//       font-size: 30px;
//    }
//    @include for-small-phone {
//       font-size: 20px;
//    }
// }
